<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>First</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/12Servlet/HelloServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>Test1.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormEx</display-name>
    <servlet-name>FormEx</servlet-name>
    <servlet-class>common.FormEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormEx</servlet-name>
    <url-pattern>/FormEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calc</display-name>
    <servlet-name>Calc</servlet-name>
    <servlet-class>common.Calc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calc</servlet-name>
    <url-pattern>/Calc</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>CHAT_ADDR</param-name>
  	<param-value>ws://localhost:8000/First</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>phone</display-name>
    <servlet-name>phone</servlet-name>
    <servlet-class>common.phone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phone</servlet-name>
    <url-pattern>/phone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchProducts</display-name>
    <servlet-name>searchProducts</servlet-name>
    <servlet-class>common.searchProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProducts</servlet-name>
    <url-pattern>/searchProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsArray</display-name>
    <servlet-name>ProductsArray</servlet-name>
    <servlet-class>common.ProductsArray</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsArray</servlet-name>
    <url-pattern>/ProductsArray</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>del</display-name>
    <servlet-name>del</servlet-name>
    <servlet-class>common.del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>del</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>common.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
</web-app>